*.o
*.lo
*.la
.libs
.deps
.dirstamp
.*.sw?
Makefile.in
aclocal.m4
autom4te.*
autoscan.log
config.*
libtool
ltmain.sh
compile
configure*
install-sh
missing
depcomp
stamp-h1
Makefile
*.*~
libnfctag-*
/src/SmeNfcConfig.h
